
{#<head>#}
    {#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
    {#<link rel="shortcut icon" href="/favicon.ico" />#}
{#</head>#}
{% extends 'layout.html.twig' %}
{%  block content %}
    <h2>You cheat!</h2>

    <p class="attempts">
        <a href="{{ path('app_game') }}">Get back to playing!</a>
    </p>

{% endblock %}