{% extends 'layout.html.twig' %}

{% block title 'Register ' ~parent() %}

{% block content %}
    <h2>Create an account</h2>
    <form action="{{ path('app_register') }}" method="post" novalidate>
        {{ form_widget(form) }}
        <button type="submit" class="btn bg-success">Register</button>
    </form>
{% endblock %}


